/******************************************
/* Styling for Home, Login and Signup Pages
/*******************************************/

h1 {
    color: white;
    font-size: 6em;
    line-height: 1.1em;
}

body {
    margin: 0;
    font-family: "social-gothic", "sans-serif";
}

.main, .signUp, .signupBox {
    display: flex;
}

.main, .signUp {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

.main {
    background-image: url("img/invbuddy-bg.jpg");
}

.signUp {
    background-image: url("img/inv-loginbg.jpg");
    justify-content: center;
}

button {
    color: #00053c;
    background: rgba(255, 255, 255, 0.877);
    margin-right: 15px;
    text-transform: uppercase;
    font-family: "social-gothic", "sans-serif";
}

button, input {
    border-radius: 10px;
    padding: 15px 30px;
}

button, .invUpperTitle {
    font-size: 2em;
}

button:hover {
    background: #030625;
}

button:hover, .invUpperTitle {
    color: #29c4f3;
}

input {
    display: block;
    background: rgba(255, 255, 255, 0.788);
    width: 90%;
    margin: 14px auto;
    font-size: 1.2em;
}

input:focus { 
    border-color: #29c4f3;
}

.heroContent {
    margin-top: -80px;
    width: 30%;
    margin-left: 5%;
}

.signupBox {
    flex-flow: column;
    color: white;
}

.signupBox, .submit {
    width: 40%;
}

.submit {
    margin-top: 14px;
    min-width: 300px;
}

.authH1 {
    margin: 10px 0 20px 0;
}


/******************************************
/* Styling for Smaller Screens
/*******************************************/

@media (max-width:1080px) { 
    /* Home Page */
    .heroContent, .signupBox {
        width: 60%;
    } 
}

@media (max-width:500px) { 
    /* General */
    h1 {
        font-size: 5.5em;
    }
    /* Home Page */
    .heroContent {
        width: 100%;
    }
    /* Signup & Login Pages */
    .authH1 {
        font-size: 6.2em;
    }
    .signupBox, input {
        width: 80%;
    }
    .submit {
        width: 100%;
    }
}