/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  font-family: "social-gothic", "sans-serif";
}
/******************************************
/* LAYOUT
/*******************************************/
.wrapper {
  padding: 5rem;
}

nav {
  background-image: linear-gradient( #130e46 ,dodgerblue);
 
}
ul.card-panel {
  margin: 5rem;
  padding: 3rem;
}
.subcard li {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 25%) 10% 10% 25% 1fr ;
  
}

.card-panel{
  margin-top: 0;
}

.col-head {
  background-color: lightgray;
  font-weight: bold;
}

.subcard {
  display: block;
  text-align: center;
}

.subcard span {
  font-family: "Tahoma";
}

.subcard li:nth-of-type(odd) {
  background-color: lightgray;
}
.changeQuantity{
  cursor:pointer;
  background: pink;
  font-size: 0.6rem;
}

.edit{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.edit > input{
  max-width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  color: red;
}

i {
  font-size: 1rem;
  text-align: center;
}

li > span {
  margin: auto;
}

/* 
input .new-quantity {
  
}

.invItem {
  
} */

.subcard col-head .inv-item span {
  margin: auto;
}

.card-title {
  font-size: 1.6rem;
  color: #666
}
.page-footer {
  background-color: #130e46;
  margin-top: -1rem;
}

.add-item {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.card {
  padding: 2%;
  
}



.btn {
  background-color: #130e46;
}
.btn:hover{
  background-color: dodgerblue;
}

.nav-wrapper {
  width: 90%;
  margin: 0 auto;
}

.login-card {
  max-width: 25%;
  margin: 5% auto;
}
