/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
.wrapper {
  padding: 5rem;
}
ul.card-panel {
  margin: 5rem;
  padding: 3rem;
}
li {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 25%) 10% 10% 25% 1fr ;
  border: 1px solid red;
}

.col-head {
  background-color: lightgray;
  font-weight: bold;
}

li > span{
  border: 1px solid red;
}

.changeQuantity{
  cursor:pointer;
  background: pink;
}

.edit{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.edit > input{
  max-width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  color: red;
}

i {
  font-size: 1.5rem;
}
